@import url("../../css/bootstrap.min.css");

:root {
    --clr-plum: #2F1533;
    --clr-baby-pink: #F9EDFF;
    --clr-white: #fff;
    --clr-barney: #AA2CDF;
    --clr-font: #331637;
}

.body {
    color: var(--clr-font);
}

.page-wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.sub-page-wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.top-row {
    background-color: var(--clr-plum);
    min-height: 40dvh;
}

.bottom-row {
    background-color: var(--clr-baby-pink);
    min-height: 60dvh;
}

.faqCol {
    min-height: 65dvh;
    width: 50%;
    background-color: var(--clr-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

img.star {
    height: 10%;
    width: 10%;
}